*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu";
}
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/pessoas-que-se-reunem-num-grupo-de-apoio.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav > a{
    color: white;
    text-decoration: none;

}